<po-page-list
  [p-breadcrumb]="breadcrumb" >
    <div class="po-row">
        
        <h1>Browser Pesquisa </h1>
        
        <div class="po-offset-lg-6 po-md-3">
            <po-button class="po-md-6" p-label="Cancelar"   (p-click)="onClick()" > </po-button> 
            <po-button class="po-md-6" p-label="Pesquisar"   (p-click)="onClick()" > </po-button> 
        </div>        
    
    </div>
    <hr />

    <div class="po-row">
    <po-input 
        name="numPedidoWeb" 
        p-label="Numero do Pedido Web"
        class="po-md-2"    
    > </po-input>

    <po-input 
        name="numPedidoTotvs" 
        p-label="Numero do Pedido Totvs"    
        class="po-md-2"    
    > </po-input>
    </div>

    <div class="po-row">
        <po-datepicker 
            name="dataEmissao" 
            p-label="Data Emissão"
            class="po-md-2"    
        > </po-datepicker>
    
        <po-datepicker 
            name="dataEntrega"
            p-label="Data Entrega"
            class="po-md-2"    
        > </po-datepicker>
    </div>

    <div class="po-row">
        <po-input 
            name="cliente" 
            p-label="Cliente"        
            class="po-md-4"    
        > </po-input>
        
        <po-input 
            name="codigoClienete" 
            p-label="Codigo Cliente"        
            class="po-md-2"    
        > </po-input>

        <po-input 
            name="cnpj" 
            p-label="CNPJ"        
            class="po-md-2"    
        > </po-input>

        </div>

        <div class="po-row">
            <po-input 
                name="status" 
                p-label="Status"            
                class="po-md-2"    
            > </po-input>
            
            <po-input 
                name="statusPedido" 
                p-label="Status Pedido"            
                class="po-md-2"    
            > </po-input>
        </div>

        <div class="po-row">
            <po-input 
                name="statusAprovacao" 
                p-label="Status Aprovacao"            
                class="po-md-2"    
            > </po-input>
            
            <po-input 
                name="aprovado" 
                p-label="Aprovado"            
                class="po-md-3"    
            > </po-input>
        
            <po-input 
                name="statusAprovacaoFinanceira" 
                p-label="Status Aprovacao Financeira"            
                class="po-md-3"    
            > </po-input>        
        </div>
</po-page-list>
