<div class="po-wrapper">
    <po-toolbar p-title="FastAgro" [p-show-notification]="false"></po-toolbar>
    <po-menu [p-menus] ="menu"></po-menu>              

    <router-outlet></router-outlet>
</div> 