﻿<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-company' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['cod-empresa']}} - {{controller.request['tt-detalhe'][0]['desc-empresa']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-site' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['cod-estab']}} - {{controller.request['tt-detalhe'][0]['desc-estab']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'Pedido/Incoterm' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['nr-pedcli']}} / {{controller.request['tt-detalhe'][0]['c-incoterm']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-customer' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['cod-emitente']}} - {{controller.request['tt-detalhe'][0]['desc-emitente']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-country' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['c-pais']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'Tipo Venda' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['c-tipo-venda']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-currency' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['mo-codigo']}} - {{controller.request['tt-detalhe'][0]['desc-moeda']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'l-user-doc' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['cod-usuario']}} - {{controller.request['tt-detalhe'][0]['desc-usuario']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'Observações' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['observacoes']}}">    
</totvs-page-detail-info>

<totvs-page-detail-info class="col-xs col-sm-12 col-md-12"
	title="{{ 'Data' | i18n}}"
	value="{{controller.request['tt-detalhe'][0]['dt-entrega']}}">    
</totvs-page-detail-info>

<span class="subtitulo" ng-if="controller.request['tt-ped-item'].length > 0">{{ 'l-item' | i18n}}</span>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
    <totvs-list-item
        id="pedido{{::pedido['NR-SEQUENCIA']}}"
        ng-class="tab-1"
        ng-repeat="pedido in ::controller.request['tt-ped-item']"
        totvs-custom-element="customDetail2_listItem">
		
        <totvs-list-item-header>            

            <totvs-list-item-info title="{{ 'Cor Faixa' | i18n}}" class="col-xs col-sm-3 col-md-4">
                {{::pedido['cor-faixa']}}
            </totvs-list-item-info>

            <totvs-list-item-info title="{{ 'l-seq-item' | i18n}}" class="col-xs col-sm-3 col-md-4">
                {{::pedido['nr-sequencia']}}
            </totvs-list-item-info>
			
            <totvs-list-item-info title="{{ 'l-item' | i18n}}" class="col-xs col-sm-7 col-md-4">
                {{::pedido['it-codigo']}}
            </totvs-list-item-info>
			
            <totvs-list-item-info title="{{ 'l-item-description' | i18n}}" class="col-xs col-sm-7 col-md-4">
                {{::pedido['desc-item']}}
            </totvs-list-item-info>
			
            <totvs-list-item-info title="{{ 'l-quantity' | i18n}}" class="col-xs col-sm-7 col-md-4">
                {{::pedido['quantidade']}}
            </totvs-list-item-info>
			
            <totvs-list-item-info title="{{ 'Preço Net/Fob' | i18n}}" class="col-xs col-sm-7 col-md-4">
                {{::pedido['preco-net-fob']}}
            </totvs-list-item-info>
			
            <totvs-list-item-info title="{{ 'Preço Target' | i18n}}" class="col-xs col-sm-7 col-md-4">
                {{::pedido['preco-target']}}
            </totvs-list-item-info>
			
            <totvs-list-item-info title="{{ 'Preço NF' | i18n}}" class="col-xs col-sm-7 col-md-4">
                {{::pedido['preco-nf']}}
            </totvs-list-item-info>
        </totvs-list-item-header>        

    </totvs-list-item>
</div>

