<div class="sample-container">
  <po-loading-overlay [hidden]="p_carrega"> </po-loading-overlay>
</div>

<hr />

<po-page-detail
  [p-title]="titulo"
  (p-back)="voltar()"
  [style.height.%]="100"
>
  <form [formGroup]="pedidoForm">
    <po-accordion  >
      <po-accordion-item   p-status="true" p-label="Dados do cliente" >
        <po-widget>
          <div class="po-row">
            <po-input
            p-label="Usuário Transação"
            class="po-md-3"
            p-disabled
            formControlName="cod_usuario_trans"
            ></po-input>
            <po-input
            p-label="Nome"
            class="po-md-9"
            p-disabled
            formControlName="nomeUsuario"
            ></po-input>
          </div>
          <div class="po-row">
            <po-lookup
            p-label="Representante"
            class="po-md-3"
            [p-columns]="representanteLookupColumns"
            [p-filter-service]="representanteLookup"
            p-field-label="cod_rep"
            p-field-value="cod_rep"
            formControlName="cod_rep"
            p-disabled
            (p-selected)="onSelectRepresentante($event)"
            ></po-lookup>
            <po-input
            p-label="Nome"
            class="po-md-9"
            p-disabled
            formControlName="nomeVendedor"
            ></po-input>
          </div>
          <div class="po-row">
            <po-input
              class="po-md-3"
              p-label="Numero Pedido Web"
              p-disabled
              formControlName="nr_pedido_web"
            ></po-input>
            <po-input
              class="po-md-6"
              p-label="Data de Inclusão do pedido"
              p-disabled
              formControlName="dataCriacao"

            ></po-input>
          </div>
          <div class="po-row">
            <po-lookup
              class="po-md-3"
              p-label="Cliente"
              p-required
              p-disabled
              [p-columns]="customerLookupColumns"
              [p-filter-service]="customerLookup"
              p-field-label="customerCode"
              p-field-value="customerCode"
              formControlName="customerCode"
              (p-selected)="onSelectCustomer($event)"
            ></po-lookup>
            <po-input
              class="po-md-9"
              p-label="Nome"
              p-disabled
              formControlName="customerName"
            ></po-input>
          </div>
          <hr />
          <po-tabs>
            <po-tab p-label="Fiscal" p-active>
              <div class="po-row">
                <po-input
                  class="po-md-4"
                  p-label="CPF/CNPJ"
                  p-disabled
                  formControlName="personalId"
                  [p-pattern]="ErroCPFCNPJ"
                  (p-change)="changeMask($event)">
                ></po-input>
                <po-input
                  class="po-md-3"
                  p-label="Inscrição estadual"
                  p-disabled
                  formControlName="stateRegistration"
                ></po-input>
              </div>
              <div class="po-row">
                <po-lookup
                class="po-md-3"
                p-label="Local Entrega"
                p-required
                p-disabled
                [p-columns]="entregaLookupColumns"
                [p-filter-service]="entregaLookup"
                p-field-label="localEntrega"
                p-field-value="localEntrega"
                formControlName="localEntrega"
                (p-selected)="onSelectEntrega($event)"
              ></po-lookup>
              </div>
              <div class="po-row">
                <po-input
                  class="po-md-9"
                  p-label="Endereço Entrega"
                  p-disabled
                  formControlName="endereco"
                ></po-input>
              </div>
              <div class="po-row">
                <po-input
                  class="po-md-3"
                  p-label="Bairro"
                  formControlName="bairro"
                  p-disabled
                ></po-input>
                <po-input
                class="po-md-3"
                p-label="CEP"
                formControlName="cep"
                p-disabled
              ></po-input>
              </div>
              <div class="po-row">
                <po-lookup
                class="po-md-6"
                p-label="Cidade"
                p-disabled
                [p-columns]="cidadeLookupColumns"
                [p-filter-service]="cidadeLookup"
                p-field-label="cidade"
                p-field-value="cidade"
                formControlName="cidade"
                (p-selected)="onSelectCidade($event)"
                ></po-lookup>
                <po-input
                  class="po-md-2"
                  p-label="UF"
                  formControlName="estado"
                  p-disabled
                ></po-input>
                <po-lookup
                class="po-md-6"
                p-label="Região"
                p-disabled
                [p-columns]="regiaoLookupColumns"
                [p-filter-service]="regiaoLookup"
                p-field-label="nome-regiao"
                p-field-value="nome-ab-reg"
                formControlName="regiao"
              ></po-lookup>
              </div>
            </po-tab>
            <po-tab p-label="Endereço de Cobrança">
              <div class="po-row">
                  <po-input
                    class="po-md-9"
                    p-label="Endereço"
                    p-disabled
                    formControlName="completeAddress"
                  ></po-input>
                </div>
                <div class="po-row">
                  <po-input
                    class="po-md-6"
                    p-label="Cidade"
                    p-disabled
                    formControlName="city"
                  ></po-input>
                  <po-input
                    class="po-md-2"
                    p-label="UF"
                    p-disabled
                    formControlName="state"
                  ></po-input>
              </div>
            </po-tab>
            <po-tab p-label="Contato">
              <div class="po-row">
                <po-input
                  class="po-md-6"
                  p-label="Email"
                  p-disabled
                  formControlName="email"
                ></po-input>
                <po-input
                  class="po-md-3"
                  p-label="Telefone"
                  p-disabled
                  formControlName="phone1"
                ></po-input>
              </div>
            </po-tab>
          </po-tabs>
          <hr />
        </po-widget>
      </po-accordion-item>
      <po-accordion-item p-status="true"  p-label="Parâmetros do pedido" >
        <po-widget>
          <div class="po-row">
            <po-select class="po-md-3"
            name="tipoVenda"
            p-label="Tipo de Venda"
            p-disabled
            [p-options]="tipoVendaOptions"
            formControlName="codTipoVenda"
            p-required>
            </po-select>
            <po-lookup
            class="po-md-3"
            p-label="Tipo de Operação"
            p-disabled
            [p-columns]="tipoOperacaoLookupColumns"
            [p-filter-service]="tipoOperacaoLookup"
            p-field-label="descricao"
            p-field-value="codTipoOperacao"
            formControlName="codTipoOperacao"
          ></po-lookup>
            <po-input
            p-label="Safra"
            class="po-md-4"
            p-disabled
            formControlName="Safra"
            ></po-input>
          </div>
          <div class="po-row">
            <po-lookup
              class="po-md-6"
              p-label="Cultura"
              p-required
              p-disabled
              [p-columns]="culturaLookupColumns"
              [p-filter-service]="culturaLookup"
              [p-field-format]="culturaFormat"
              p-field-label="cod_cultura"
              p-field-value="cod_cultura"
              formControlName="codCultura"
              (p-selected)="onSelectCultura($event)"
              p-required
            ></po-lookup>
            <po-lookup
              class="po-md-6"
              p-label="Campanha"
              p-disabled
              [p-columns]="campanhaLookupColumns"
              [p-filter-service]="campanhaLookup"
              p-field-label="cod_campanha"
              p-field-value="cod_campanha"
              formControlName="codCampanha"
            ></po-lookup>
          </div>
          <div class="po-row">
            <po-combo
              class="po-md-6"
              p-label="Tipo de frete"
              p-required
              p-disabled
              [p-options]="tipoFreteOptions"
              formControlName="tipoFrete"
              p-required
            ></po-combo>

            <po-lookup
            class="po-md-6"
            p-label="Tipo de carregamento"
            p-required
            p-disabled
            [p-columns]="tipoCargaLookupColumns"
            [p-filter-service]="tipoCargaLookup"
            [p-field-format]="tipoCargaFormat"
            p-field-label="cod_tipo_carga"
            p-field-value="cod_tipo_carga"
            formControlName="tipoCarregamento"
            p-required
          ></po-lookup>
          </div>
          <div class="po-row">
            <po-lookup
            class="po-md-6"
            p-label="Agente"
            p-required
            p-disabled
            [p-columns]="agenteLookupColumns"
            [p-filter-service]="agenteLookup"
            [p-field-format]="agenteFormat"
            p-field-label="name"
            p-field-value="code"
            formControlName="codAgente"
            (p-selected)="onSelectAgente($event)"
          ></po-lookup>
        </div>
          <div class="po-row">
            <po-datepicker
            class="po-md-4"
            p-label="Data de entrega"
            p-required
            p-disabled
            formControlName="dataEntrega"
            p-required>
            </po-datepicker>
            <po-datepicker
              class="po-md-4"
              p-label="Data de vencimento"
              p-required
              p-disabled
              formControlName="dataVencimento"
              p-required
            >
            </po-datepicker>
          </div>
          <hr />
        </po-widget>
      </po-accordion-item>
      <po-accordion-item   p-status="true" p-label="Itens do pedido" >
        <po-widget>
          <po-page-list>
            <div *ngIf="items$ | async as items$">
              <po-table
                p-container
                p-heigth="100"
                [p-items]="items$"
                [p-columns]="tableColumns"
                p-striped="true"
              ></po-table>
            </div>
            <ng-template #nodata>
              <po-table [p-columns]="tableColumns"></po-table>
            </ng-template>
          </po-page-list>
          <po-info
          class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
          p-label="Valor Total"
          p-orientation="horizontal"
          p-value="{{ total | currency: 'BRL' }}"
          >
        </po-info>
        <po-info
        class="po-md-3 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
        p-label="Valor Total Desconto Campanha"
        p-orientation="horizontal"
        p-value="{{ totalDescontoCamp | currency: 'BRL' }}"
        >
      </po-info>
          <hr />
        </po-widget>
      </po-accordion-item>
      <po-accordion-item  p-status="true" p-label="Rota">
        <po-widget>
          <div class="po-wrapper">
            <p>Rota Detalhada</p>
            <hr />
            <po-textarea
              class="po-md-11"
              name="rota"
              p-disabled
              p-label="Rota Detalhada do Pedido"
              formControlName="rotaDetalhada"
            >
            </po-textarea>
          </div>
          <!-- <div class="po-wrapper">
            <p>Observações</p>
            <hr />
            <po-textarea
              p-required
              class="po-md-11"
              name="observacao"
              p-label="Observações do Pedido"
              formControlName="observacao"
            >
            </po-textarea>
          </div>-->
        </po-widget>
      </po-accordion-item>
      <po-accordion-item p-status="true" p-label="Comissão" >
        <po-widget>
          <po-page-list>
            <div *ngIf="items$ | async as items$">
              <po-table
                p-container
                p-heigth="100"
                [p-items]="items$"
                [p-columns]="comissaoColumns"
                p-striped="true"
              ></po-table>
            </div>
            <ng-template #noDataComissao>
              <po-table [p-columns]="comissaoColumns"></po-table>
            </ng-template>
          </po-page-list>
          <hr />
        </po-widget>
      </po-accordion-item>
      <po-accordion-item  p-status="true"  *ngIf="show" p-label="Gerencial" >
        <po-widget>
          <po-page-list>
            <div *ngIf="items$ | async as items$">
              <po-table
              p-container
              p-heigth="100"
                [p-items]="items$"
                [p-columns]="gerencialColumns"
                p-striped="true"
              ></po-table>
            </div>
            <ng-template #noDataGerencial>
              <po-table [p-columns]="gerencialColumns"></po-table>
            </ng-template>
          </po-page-list>
          <po-info
          class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
          p-label="Valor Total Comissão"
          p-orientation="horizontal"
          p-value="{{ totalComissao | currency: 'BRL' }}"
          >
        </po-info>
        <po-info
        class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
        p-label="Valor Total Margem à Prazo"
        p-orientation="horizontal"
        p-value="{{ totalMargem | currency: 'BRL' }}"
        >
      </po-info>
          <hr />
        </po-widget>
      </po-accordion-item>
    </po-accordion>
  </form>
</po-page-detail>
