<div class="sample-container">
  <po-loading-overlay [hidden]="p_carrega"> </po-loading-overlay>
</div>

<hr />

<po-page-edit
  [p-title]="titulo"
  (p-cancel)="onCancel($event)"
  [style.height.%]="100"
>
  <form [formGroup]="pedidoForm">
    <po-stepper #stepper p-step-icons p-step-size="32" >
      <po-step   p-label="Dados do cliente" [p-can-active-next-step]="canActiveNextStep.bind(this, pedidoForm)">
        <po-widget
        [p-primary-label]="nextLabelWidget"
        (p-primary-action)="stepper.next()">
        <div class="po-row">
          <po-input
          p-label="Usuário Transação"
          class="po-md-3"
          p-disabled
          formControlName="cod_usuario_trans"
          ></po-input>
          <po-input
          p-label="Nome"
          class="po-md-9"
          p-disabled
          formControlName="nomeUsuario"
          ></po-input>
        </div>
        <div class="po-row">
          <po-lookup
          p-label="Representante"
          class="po-md-3"
          [p-columns]="representanteLookupColumns"
          [p-filter-service]="representanteLookup"
          p-field-label="cod_rep"
          p-field-value="cod_rep"
          formControlName="cod_rep"
          [p-disabled]="!show"
          (p-selected)="onSelectRepresentante($event)"
          ></po-lookup>
          <po-input
          p-label="Nome"
          class="po-md-9"
          p-disabled
          formControlName="nomeVendedor"
          ></po-input>
        </div>
          <div class="po-row">
            <po-input
              class="po-md-3"
              p-label="Numero Pedido Web"
              p-disabled
              formControlName="nr_pedido_web"
            ></po-input>
            <po-datepicker
              class="po-md-6"
              p-label="Data de Inclusão do pedido"
              [p-disabled]="!show"
              formControlName="dataCriacao"

            ></po-datepicker>
          </div>
          <div class="po-row">
            <po-checkbox
            class="po-md-3"
            name="ClienteCadastrado"
            p-label="Novo Cliente?"
            (p-change)="changeEvent($event)"
            formControlName="ClienteCadastrado">
          </po-checkbox>
          </div>
          <div class="po-row">
            <po-lookup
              class="po-md-3"
              p-label="Cliente"
              p-required
              [p-columns]="customerLookupColumns"
              [p-filter-service]="customerLookup"
              p-field-label="customerCode"
              p-field-value="customerCode"
              formControlName="customerCode"
              [p-disabled]="!ClienteCadastrado"
              (p-selected)="onSelectCustomer($event)"
              p-required
            ></po-lookup>
            <po-input
              class="po-md-9"
              p-label="Nome"
              [p-disabled]="ClienteCadastrado"
              formControlName="customerName"
            ></po-input>
          </div>
          <hr />
          <po-tabs>
            <po-tab p-label="Fiscal" p-active>
              <div class="po-row">
                <po-input
                  class="po-md-4"
                  p-label="CPF/CNPJ"
                  [p-disabled]="ClienteCadastrado"
                  formControlName="personalId"
                  [p-pattern]="ErroCPFCNPJ"
                  (p-change)="changeMask($event)">
                ></po-input>
                <po-input
                  class="po-md-3"
                  p-label="Inscrição estadual"
                  [p-disabled]="ClienteCadastrado"
                  p-disabled
                  formControlName="stateRegistration"
                ></po-input>
              </div>
              <div class="po-row">
                <po-lookup
                class="po-md-3"
                p-label="Local Entrega"
                p-required
                [p-columns]="entregaLookupColumns"
                [p-filter-service]="entregaLookup"
                p-field-label="localEntrega"
                p-field-value="localEntrega"
                formControlName="localEntrega"
                [p-disabled]="!ClienteCadastrado"
                (p-selected)="onSelectEntrega($event)"
              ></po-lookup>
              </div>
              <div class="po-row">
                <po-input
                  class="po-md-9"
                  p-label="Endereço Entrega"
                  p-disabled
                  formControlName="endereco"
                ></po-input>
              </div>
              <div class="po-row">
                <po-input
                  class="po-md-3"
                  p-label="Bairro"
                  p-disabled
                  formControlName="bairro"
                ></po-input>
                <po-input
                class="po-md-3"
                p-label="CEP"
                p-disabled
                formControlName="cep"
              ></po-input>
              </div>
              <div class="po-row">
                <po-lookup
                  class="po-md-6"
                  p-label="Cidade"
                  [p-disabled]="ClienteCadastrado"
                  [p-columns]="cidadeLookupColumns"
                  [p-filter-service]="cidadeLookup"
                  p-field-label="cidade"
                  p-field-value="cidade"
                  formControlName="cidade"
                  (p-selected)="onSelectCidade($event)"
                ></po-lookup>
                <po-input
                  class="po-md-2"
                  p-label="UF"
                  p-disabled
                  formControlName="estado"
                ></po-input>
                <po-lookup
                class="po-md-6"
                p-label="Região"
                p-disabled
                [p-columns]="regiaoLookupColumns"
                [p-filter-service]="regiaoLookup"
                p-field-label="nome-regiao"
                p-field-value="nome-ab-reg"
                formControlName="regiao"
              ></po-lookup>
              </div>
            </po-tab>
            <po-tab p-label="Endereço de Cobrança">
              <div class="po-row">
                  <po-input
                    class="po-md-9"
                    p-label="Endereço"
                    p-disabled
                    formControlName="completeAddress"
                  ></po-input>
                </div>
                <div class="po-row">
                  <po-input
                    class="po-md-6"
                    p-label="Cidade"
                    p-disabled
                    formControlName="city"
                  ></po-input>
                  <po-input
                    class="po-md-2"
                    p-label="UF"
                    p-disabled
                    formControlName="state"
                  ></po-input>
              </div>
            </po-tab>
            <po-tab p-label="Contato">
              <div class="po-row">
                <po-input
                  class="po-md-6"
                  p-label="Email"
                  p-disabled
                  formControlName="email"
                ></po-input>
                <po-input
                  class="po-md-3"
                  p-label="Telefone"
                  p-disabled
                  formControlName="phone1"
                ></po-input>
              </div>
            </po-tab>
          </po-tabs>
          <hr />
        </po-widget>
      </po-step>
      <po-step  p-label="Parâmetros do pedido" [p-can-active-next-step]="avancaParametros.bind(this, pedidoForm)">
        <po-widget
        [p-primary-label]="previousLabelWidget"
        [p-secondary-label]="nextLabelWidget"
        (p-primary-action)="stepper.previous()"
        (p-secondary-action)="stepper.next()">
          <div class="po-row">
            <po-select class="po-md-3"
            name="tipoVenda"
            p-label="Tipo de Venda"
            [p-options]="tipoVendaOptions"
            formControlName="codTipoVenda"
            (p-change)="onSelectTipoVenda($event)"
            [p-disabled]="itemInformado"
            p-required>
            </po-select>
            <po-lookup
            class="po-md-3"
            p-label="Tipo de Operação"
            p-required
            [p-columns]="tipoOperacaoLookupColumns"
            [p-filter-service]="tipoOperacaoLookup"
            p-field-label="descricao"
            p-field-value="codTipoOperacao"
            formControlName="codTipoOperacao"
            p-required
            (p-selected)="onSelectedTipoOperacao($event)"
          ></po-lookup>
            <po-input
            p-label="Safra"
            class="po-md-4"
            formControlName="Safra"
            ></po-input>
          </div>
          <div class="po-row">
            <po-lookup
              class="po-md-6"
              p-label="Cultura"
              p-required
              [p-columns]="culturaLookupColumns"
              [p-filter-service]="culturaLookup"
              [p-field-format]="culturaFormat"
              p-field-label="cod_cultura"
              p-field-value="cod_cultura"
              formControlName="codCultura"
              (p-selected)="onSelectCultura($event)"
              p-required
            ></po-lookup>
            <po-lookup
              class="po-md-6"
              p-label="Campanha"
              [p-columns]="campanhaLookupColumns"
              [p-filter-service]="campanhaLookup"
              p-field-label="cod_campanha"
              p-field-value="cod_campanha"
              formControlName="codCampanha"
              (p-selected)="onSelectCampanha($event)"
            ></po-lookup>
          </div>
          <div class="po-row">
            <po-select
              class="po-md-6"
              p-label="Tipo de frete"
              p-required
              [p-options]="tipoFreteOptions"
              formControlName="tipoFrete"
              p-required
            ></po-select>

            <po-lookup
            class="po-md-6"
            p-label="Tipo de carregamento"
            p-required
            [p-columns]="tipoCargaLookupColumns"
            [p-filter-service]="tipoCargaLookup"
            [p-field-format]="tipoCargaFormat"
            p-field-label="cod_tipo_carga"
            p-field-value="cod_tipo_carga"
            formControlName="tipoCarregamento"
            p-required
          ></po-lookup>
          </div>
          <div class="po-row">
            <po-lookup
            class="po-md-6"
            p-label="Agente"
            p-required
            [p-columns]="agenteLookupColumns"
            [p-filter-service]="agenteLookup"
            [p-field-format]="agenteFormat"
            p-field-label="name"
            p-field-value="code"
            formControlName="codAgente"
            (p-selected)="onSelectAgente($event)"
            [p-disabled]="itemInformado"
          ></po-lookup>
        </div>
          <div class="po-row">
            <po-datepicker
            class="po-md-4"
            p-label="Data de entrega"
            p-required
            formControlName="dataEntrega"
            p-required>
            </po-datepicker>
            <po-datepicker
              class="po-md-4"
              p-label="Data de vencimento"
              p-required
              formControlName="dataVencimento"
              p-required
            >
            </po-datepicker>
          </div>
          <hr />
        </po-widget>
      </po-step>
      <po-step   p-label="Itens do pedido" >
        <po-widget

        [p-primary-label]="previousLabelWidget"
        [p-secondary-label]="nextLabelWidget"
        (p-primary-action)="stepper.previous()"
        (p-secondary-action)="stepper.next()">
          <po-page-list [p-actions]="pageActions"
          >
            <div *ngIf="items$ | async as items$">
              <po-table
                p-container="shadow"
                [p-actions]="tableActions"
                [p-items]="items$"
                [p-columns]="tableColumns"
                p-striped="true"
                p-hide-detail="false"
                p-hide-text-overflow="false"
              ></po-table>
            </div>
            <ng-template #nodata>
              <po-table [p-columns]="tableColumns"></po-table>
            </ng-template>
          <hr/>
            <po-info
            class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
            p-label="Valor Total"
            p-orientation="horizontal"
            p-value="{{ total | currency: 'BRL' }}"
            >
          </po-info>
          <po-info
          class="po-md-6 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
          p-label="Valor Total Desconto Campanha"
          p-orientation="horizontal"
          p-value="{{ totalDescontoCamp | currency: 'BRL' }}"
          >
        </po-info>
          </po-page-list>

          <hr />
        </po-widget>
      </po-step>
      <po-step  p-label="Detalhes" [p-can-active-next-step]="avancaRota.bind(this, pedidoForm)">
        <po-widget
        [p-primary-label]="previousLabelWidget"
        [p-secondary-label]="nextLabelWidget"
        (p-primary-action)="stepper.previous()"
        (p-secondary-action)="stepper.next()">
          <div class="po-wrapper">
            <p>Rota Detalhada</p>
            <hr />
            <po-textarea
              p-required
              class="po-md-11"
              name="rota"
              p-label="Rota Detalhada do Pedido"
              formControlName="rotaDetalhada"
            >
            </po-textarea>
          </div>
          <!--<div class="po-wrapper">
            <p>Observações</p>
            <hr />
            <po-textarea
              p-required
              class="po-md-11"
              name="observacao"
              p-label="Observações do Pedido"
              formControlName="observacao"
            >
            </po-textarea>
          </div>-->
        </po-widget>
      </po-step>
      <po-step p-label="Comissão" [p-can-active-next-step]="canActiveFinishStepComissao.bind(this, pedidoForm)">
        <po-widget
        [p-primary-label]="previousLabelWidget"
        [p-secondary-label]="nextLabelWidgetComissao"
        (p-primary-action)="stepper.previous()"
        (p-secondary-action)="stepper.next()">
          <po-page-list>
            <div *ngIf="items$ | async as items$">
              <po-table
                p-container
                p-heigth="100"
                [p-items]="items$"
                [p-columns]="comissaoColumns"
                p-striped="true"
              ></po-table>
            </div>
            <ng-template #noDataComissao>
              <po-table [p-columns]="comissaoColumns"></po-table>
            </ng-template>
          </po-page-list>
          <hr />
        </po-widget>
      </po-step>
      <po-step  *ngIf="show" p-label="Gerencial" [p-can-active-next-step]="canActiveFinishStep.bind(this, pedidoForm)">
        <po-widget
        [p-primary-label]="previousLabelWidget"
        [p-secondary-label]="nextLabelWidgetGerencial"
        (p-primary-action)="stepper.previous()"
        (p-secondary-action)="stepper.next()">
          <po-page-list>
            <div *ngIf="items$ | async as items$">
              <po-table
              p-container
              p-heigth="100"
                [p-items]="items$"
                [p-columns]="gerencialColumns"
                p-striped="true"
              ></po-table>
            </div>
            <ng-template #noDataGerencial>
              <po-table [p-columns]="gerencialColumns"></po-table>
            </ng-template>
          </po-page-list>
          <po-info
          class="po-md-3 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
          p-label="Valor Total"
          p-orientation="horizontal"
          p-value="{{ total | currency: 'BRL' }}"
          >
        </po-info>
        <po-info
        class="po-md-3 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
        p-label="Valor Total Comissão"
        p-orientation="horizontal"
        p-value="{{ totalComissao | currency: 'BRL' }}"
        >
      </po-info>
      <po-info
      class="po-md-3 po-mb-sm-2 po-mb-md-2 po-lb-lg-2"
      p-label="Valor Total Margem à Prazo"
      p-orientation="horizontal"
      p-value="{{ totalMargem | currency: 'BRL' }}"
      >
    </po-info>
          <hr />
        </po-widget>
      </po-step>
    </po-stepper>
  </form>
</po-page-edit>
<div>
  <form [formGroup]="itemPedidoForm">
  <div style="position: relative">
  <po-modal
    p-title="Itens"
    [p-primary-action]="confirm"
    [p-secondary-action]="close"
  >
  <po-loading-overlay [hidden]="p_carrega"> </po-loading-overlay>
      <div>
        <po-lookup
          class="po-md-3"
          p-label="Item"
          p-required
          [p-columns]="itemLookupColumns"
          [p-filter-service]="itemLookup"
          p-field-label="product"
          p-field-value="product"
          formControlName="cItCodigo"
          (p-selected)="onSelectItem($event)"
        ></po-lookup>
        <po-input
          class="po-md-9"
          p-label="Descrição"
          p-disabled
          formControlName="desc_item"
        ></po-input>
        <po-decimal
        (p-change)="atualizaPrecoNetFob()"
          class="po-md-6"
          p-label="Preço NET FOB"
          p-icon="po-icon-finance"
          p-thousand-maxlength="13"
          [p-decimals-length]="precoDecimal"
          formControlName="dePrecoNetFob"
          p-required
        ></po-decimal>
        <po-table *ngIf="itemsFaixa$ | async as itemsFaixa$"
        class="po-md-6"
        p-container
        p-hide-columns-manager="true"
        p-heigth="100"
        [p-items]="itemsFaixa$"
        [p-columns]="tableColumnsFaixa"
        p-striped="true"
      ></po-table>
      <po-decimal
      (p-change)="atualizaPrecoNF()"
      class="po-md-6"
      p-label="Preço NF"
      p-icon="po-icon-finance"
      p-thousand-maxlength="13"
      [p-decimals-length]="precoDecimal"
      formControlName="dePrecoNF"

      p-required
    ></po-decimal>
        <po-number
        (p-change)="atualizaQuantidade()"
          class="po-md-9"
          p-label="Quantidade"
          formControlName="deQuantidade"
          p-required
        ></po-number>
        <po-decimal
        class="po-md-6"
        p-label="Comissão Total R$"
        p-icon="po-icon-finance"
        p-thousand-maxlength="13"
        [p-decimals-length]="precoDecimal"
        formControlName="deComissaoTotal"
        p-disabled
      ></po-decimal>
      <po-decimal
      class="po-md-6"
      p-label="Percentual Comissão %"
      p-icon="po-icon-finance"
      p-thousand-maxlength="13"
      [p-decimals-length]="precoDecimal"
      formControlName="dePercComissao"
      p-disabled
    ></po-decimal>
        <po-decimal *ngIf="show"
        class="po-md-9"
        p-label="Frete"
        formControlName="deValorFrete"
        p-thousand-maxlength="13"
        p-decimals-length="5"
        p-required
      ></po-decimal>
      <po-decimal  *ngIf="AgenteInformado"
      class="po-md-4"
      p-label="Perc. Comissão Agente"
      p-thousand-maxlength="13"
      p-decimals-length="2"
      formControlName="dePercComisAgent"
      [p-disabled]="!percInformado"
      p-help="Comissao Máxima {{dComissaoMax}}%"
    ></po-decimal>
      </div>
  </po-modal>
</div>
</form>
</div>
