<po-page-edit
    p-title="Novo Item"
    [p-breadcrumb]="breadcrumb"  
    
>
    <form>
        <div class="po-row">
            <po-input class="po-md-2" name="numeroItem" 
                    p-label="Numero Item"       
            ></po-input>
            
            <po-input class="po-md-8" name="descricaoItem"
                      formControlName="Descricao Item" p-label="Descricao Item" p-required
            ></po-input>
        </div>

        <div class="po-row">
            <po-input class="po-md-2" name="quantidade" 
                    p-label="Quantidade"       
            ></po-input>
            
            <po-input class="po-md-2" name="qtdeEmbalagem"
                      formControlName="Qtde. Embalagem" p-label="Qtde. Embalagem" p-required
            ></po-input>
        </div> 
        
        <div class="po-row">
            <po-input class="po-md-2" name="corFaixa" 
                    p-label="Cor da Faixa"       
            ></po-input>
            
            <po-input class="po-md-1" name="un"
                      formControlName="Un" p-label="Un" p-required
            ></po-input>

            <po-input class="po-md-2" name="origem"
                      formControlName="Origem" p-label="Origem" p-required
            ></po-input>
        </div>

        <div class="po-row">
            <po-input 
                name="frete" 
                p-label="Frete  R$/kg"
                class="po-md-3"    
            > </po-input>

            <po-input 
                name="preçotarget" 
                p-label="Preço NET/FOB target"
                class="po-md-3"    
            > </po-input>
        
            <po-input 
                name="precoUnid" 
                p-label="Preço NET/FOB (R$Unid.)"
                class="po-md-4"    
            > </po-input>

            <po-input 
                name="precoef" 
                p-label="Preço com EF"
                class="po-md-3"    
            > </po-input>
            
            <po-input 
                name="precoNf" 
                p-label="Preço NF"
                class="po-md-3"    
            > </po-input>
    
            <po-input 
                name="valorTotal" 
                p-label="Valor Total"  
                class="po-md-3"    
            > </po-input>            
        </div>
    </form>

</po-page-edit>

