<div class="sample-container">
  <po-loading-overlay [hidden]="p_carrega"> </po-loading-overlay>
</div>

<po-page-list *ngIf="perfil_valido"
  [p-actions]="pageActions"
  [p-breadcrumb]="breadcrumb"
  p-title="Pedidos de venda"

>
<po-divider></po-divider>
  <div *ngIf="(data && data.length > 0) else nodata">
    <po-table

      [p-hide-text-overflow]="true"
      [p-sort]="true"
      [p-striped]="true"
      (p-collapsed)="onCollapseDetail()"
      (p-expanded)="onExpandDetail()"
      (p-change-visible-columns)="changeColumnVisible($event)"
      (p-restore-column-manager)="restoreColumn()"
      [p-actions]="tableActions"
      [p-columns]="tableColumns"
      [p-items]="data"
    ></po-table>
  </div>
  <ng-template #nodata>
    <po-table [p-columns]="tableColumns"></po-table>
  </ng-template>

  <po-divider></po-divider>
</po-page-list>

<po-page-default *ngIf="perfil_valido === false" p-title="Bloqueio">
  <div class="po-row">
    <po-widget class="po-md-12 po-lg-12 po-mb-2" p-title="Acesso Bloqueado">
      <div class="po-font-subtitle po-text-center">Cadastro Representante Incompleto.</div>
      <div class="po-text-center sample-widget-text-subtitle">Somente Representantes com todos os cadastros podem manusear pedido pelo Portal.</div>
    </po-widget></div>
</po-page-default>

<form [formGroup]="filtroForm">
  <po-modal
    id="poModal"
    #poModal
    p-click-out="true"
    [p-title]="poModalTitulo"
    [p-primary-action]="confirm"
    [p-secondary-action]="close"
  >
    <div *ngIf="showFiltro">
      <div class="po-row">
        <po-number
          name="NrPedidoWebIni"
          p-label="Numero do Pedido Web"
          p-help="De:"
          class="po-md-4"
          formControlName="NrPedidoWebIni"
          p-maxlength="9"
        >
        </po-number>
        <po-number
          name="NrPedidoWebFim"
          p-label="<>"
          class="po-md-4"
          p-help="Até:"
          formControlName="NrPedidoWebFim"
          p-maxlength="9"
        >
        </po-number>
      </div>
     <!--<div class="po-wrapper">
      <div class="po-row">
        <po-number
          name="NrPedidoTotvsDe"
          p-label="Numero do Pedido Totvs"
          class="po-md-4"
          p-help="De:"
          formControlName="NrPedidoTotvsIni"
          p-maxlength="9"
        >
        </po-number>
        <po-number
          name="NrPedidoTotvsAte"
          p-label="<>"
          class="po-md-4"
          p-help="Até:"
          formControlName="NrPedidoTotvsFim"
          p-maxlength="9"
        >
        </po-number>
      </div>
       </div>-->
      <div class="po-row">
        <po-datepicker
          name="dataEmissaoIni"
          p-label="Data Emissão"
          class="po-md-4"
          p-help="De:"
          formControlName="dataEmissaoIni"
        >
        </po-datepicker>

        <po-datepicker
          name="dataEmissaoFim"
          p-label="<>"
          class="po-md-4"
          p-help="Até:"
          formControlName="dataEmissaoFim"
        >
        </po-datepicker>
      </div>
      <div class="po-row">
        <po-datepicker
          name="dataEntregaIni"
          p-label="Data Entrega"
          class="po-md-4"
          p-help="De:"
          formControlName="dataEntregaIni"
        >
        </po-datepicker>

        <po-datepicker
          name="dataEntregaFim"
          p-label="<>"
          class="po-md-4"
          p-help="Até:"
          formControlName="dataEntregaFim"
        >
        </po-datepicker>
      </div>

      <div class="po-row">
        <po-number
          class="po-md-4"
          p-label="Código Cliente"
          p-help="De:"
          formControlName="codClienteIni"
          p-maxlength="9"
        ></po-number>
        <po-number
          class="po-md-4"
          p-label="<>"
          p-help="Até:"
          formControlName="codClienteFim"
          p-maxlength="9"
        ></po-number>
      </div>
      <div class="po-row">
        <po-select
          class="po-md-4"
          p-label="Status Pedido WEB"
          [p-options]="StatusPedidoWebOptions"
          p-help="De:"
          formControlName="StatusPedidoWEBIni"
        ></po-select>
        <po-select
          class="po-md-4"
          p-label="<>"
          [p-options]="StatusPedidoWebOptions"
          p-help="Até:"
          formControlName="StatusPedidoWEBFim"
        ></po-select>
      </div>
<!--<div class="po-wrapper">
      <div class="po-row">
        <po-select
          class="po-md-4"
          p-label="Status Pedido PD4000"
          [p-options]="StatusPedidoOptions"
          p-help="De:"
          formControlName="StatusPedidoIni"
        ></po-select>
        <po-select
          class="po-md-4"
          p-label="<>"
          [p-options]="StatusPedidoOptions"
          p-help="Até:"
          formControlName="StatusPedidoFim"
        ></po-select>
      </div>
    </div>-->
      <div class="po-row">
        <po-select
          class="po-md-4"
          p-label="Status Situação Crédito"
          [p-options]="StatusAprovacaoOptions"
          p-help="De:"
          formControlName="StatusAprovacaoIni"
        ></po-select>
        <po-select
          class="po-md-4"
          p-label="<>"
          [p-options]="StatusAprovacaoOptions"
          p-help="Até:"
          formControlName="StatusAprovacaoFim"
        ></po-select>
      </div>
      <div class="po-row">
        <po-select
          class="po-md-4"
          p-label="Status Aprovação Preço"
          [p-options]="StatusAprovacaoMLAOptions"
          p-help="De:"
          formControlName="StatusAprovacaoMLAIni"
        ></po-select>
        <po-select
          class="po-md-4"
          p-label="<>"
          [p-options]="StatusAprovacaoMLAOptions"
          p-help="Até:"
          formControlName="StatusAprovacaoMLAFim"
        ></po-select>
      </div>
    </div>
    <div *ngIf="showImpressao">
      <po-button class="po-md-3" p-label="Detalhada" (p-click)="gerarPDF('1')">
      </po-button>
      <po-button class="po-md-3" p-label="Simples" (p-click)="gerarPDF('2')">
      </po-button>
    </div>
    <div *ngIf="showCotacao">
      <po-button class="po-md-3" p-label="Detalhada" (p-click)="cotacao()">
      </po-button>
      <po-button class="po-md-3" p-label="Simples" (p-click)="gerarPDF('2')">
      </po-button>
    </div>
  </po-modal>
</form>
