<totvs-list-item-title class="col-sm-6">
	<a href="#/dts/mla/{{controller.pageLink}}/detail/{{controller.documentId}}/{{request['nr-trans']}}" 
		title="{{request['chave-doc-formatada']}}">{{ 'l-key' | i18n}}: {{request['chave-doc-formatada']}}</a>
</totvs-list-item-title>
