<po-page-list
  [p-breadcrumb]="breadcrumb" >
  <div class="po-row">      
  </div>
  <hr /> 
  <po-tabs>
      <po-tab  p-active p-label="Itens" >    
        <div class="po-wrapper">
          <p>Itens do Pedido</p>
          <hr />              
          <div class="po-row">
            <po-button class="po-md-2" p-label="Incluir" (p-click)="incluirItem()"> </po-button>  
          </div>
          <hr />     
          <po-table
            p-title="Itens do Pedido"     
            [p-columns]="columnsItem"
            [p-items]="itemsItem"            
          >
          </po-table>        
        </div>
      </po-tab> 
  
      <po-tab p-label="Rota">
        <div class="po-wrapper"      >
          <p>Rota Detalhada</p>
          <hr />
          <po-textarea  class="po-md-11"
            name="rota" 
            p-label="Rota Detalhada do Pedido"> </po-textarea>            
        </div>    
      </po-tab>

      <po-tab p-label="Comissões">
          <div class="po-wrapper">
            <div>Comissões</div>   
            <hr />    
            <po-table              
              [p-columns]="columnsComissao"
              [p-items]="itemsComissao">          
            </po-table>            
          </div>    
      </po-tab>

      <po-tab p-label="Gerencial">
          <div class="po-wrapper">
            <div>Gerenciais</div>   
            <hr />  
            <div class="po-row">
              <po-button class="po-md-2" p-label="Incluir" (p-click)="onClick()"> </po-button>  
            </div>
            <po-table              
              [p-columns]="columnsGerencial"
              [p-items]="itemsGerencial">          
            </po-table>                        
          </div>    
      </po-tab>
  </po-tabs>
</po-page-list>


